.user {
    width: 1024px;
    margin: 0 auto;
}

.user-username {
    text-align: center;
}

.user-content {
    width: 100%;
    display: grid;
    grid-template-columns: 15% 70% 15%;
}

.user-follow {
    border: 1px solid black;
    cursor: pointer;
    padding: 2%;
    margin: 2%;
}

.user-unfollow {
    border: 1px solid black;
    cursor: pointer;
    padding: 2%;
    margin: 2%;
}