.user {
    width: 1024px;
    margin: 0 auto;
}

.user-content {
    width: 100%;
    display: grid;
    grid-template-columns: 80% 20%;
}

.user-follow p {
    cursor: pointer;
    border: 1px solid black;
    display: inline-block;
    margin: 2%;
    font-size: 1.3em;
    padding: 2%;

}

.user-unfollow {
    border: 1px solid black;
    cursor: pointer;
    padding: 2%;
    margin: 2%;
}

.user-info {
    display: grid;
    grid-template-columns: 60% 40%;
}