.dashboard-info-item {
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 5px;
    border-bottom: 1px solid rgb(134, 134, 134);
}

.dashboard-info-item:hover{
    background-color: rgba(208, 208, 208, 0.5)
}

.dashboard-info-link {
    text-decoration: none;
}

.dashboard-info-item-text {
    padding: 10px;
}

.dashboard-info-item-text p {
    font-size: .85em;
    color: green; 
}

.dashboard-info-item-img {
    height: 40px;
}

.dashboard-info-item img {
    height: 100%;
    width: auto;
}