.dashboard-info-item {
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 5%;
    border-bottom:1px solid rgb(134, 134, 134);
}

.dashboard-info-link {
    text-decoration: none;
}

.dashboard-info-item-text {
    padding: 5%;
}

.dashboard-info-item-text p {
    font-size: .85em;
    padding: 2%;
    color: green; 
}

.dashboard-info-item img {
    width: 100%;
}