.landing {
    opacity: 1;
    background: linear-gradient(rgba(192, 0, 0, .2), rgba(251, 255, 7,.2));
    background-image: url("../../Images/landing.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.landing-info {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    padding-top: 15%;
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-template-rows: repeat(1, 1fr) auto;
    grid-gap: 10px;
}

.item3 {
    grid-column: 1 / 3;
}

.landing-info div {
    padding: 5% 0;
    border-radius: 10px;
    background-color: rgb(249, 218, 63);
    cursor: pointer;
}