.login {
    padding-top: 30px;
    width: 50%;
}



.login form input {
    padding: 5px;
    margin: 0 1px; 
    width: 40%;
    border: none;
    border-radius: 2px;
    outline: none;
    border: 1px solid grey;
}

.login form button {
    width: 18%;
    padding: 5px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
    border: 1px solid grey;
}

.login-error {
    display: flex;
}

.login-error p {
    padding: 1% 3% 1% 1%;
}