.login {
    padding-top: 30px;
    width: 50%;
}

form {
    width: 100%;
}

.login form input {
    padding: 5px;
    margin: 0 1px; 
    width: 40%;
    border: none;
    border-radius: 2px;
    outline: none;
    border: 1px solid grey;
}

.login form button {
    width: 18%;
    padding: 5px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
    border: 1px solid grey;
}

.login-error {
    display: flex;
}

.login-error p {
    padding: 5px 10px 5px 5px;
}

.login-loader {
    padding-top: 18px;
    margin-left: 30%;
}