.register {
    padding: 5%;
    background-color: rgb(99, 172, 250);
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
    width: 70%;
    margin: 0 auto;
}

.register form {
    -padding-top: 15%;
}

.register h2 {
    text-align: center;
}

.register form input {
    outline: none;
    width: 100%;
    border-radius: 4px;
    border: 1px solid grey;
    padding: 10px;
    margin: 10px 0;
    font-size: 1.5em;
}

.register form button {
    width: 100%;
    margin-top: 5%;
    padding: 2%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5em;
    background-color: rgb(255, 132, 0);
    border: none;
    color: #fff;
    box-shadow: 1px 1px rgb(161, 161, 161) ;
}

.register-info {
    padding-top: 5%;
    text-align: center;
}

.register-error {
    padding-left: 2%;
    color: rgb(130, 4, 4);
}